{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

export XDG_DATA_HOME=${XDG_DATA_HOME:-"~/.local/share"}
if [ ! -d "$XDG_DATA_HOME/pnpm" ]; then
  echo "installing pnpm..."
  curl -fsSL https://get.pnpm.io/install.sh | zsh -
fi
