# Zsh environment

export PATH="$PATH:/Users/ruka/.local/bin"

export BUILDKITE_API_TOKEN={{ onepasswordRead "op://Work/bag4hkn5yw7eeiot4zqypd6roq/password" }}
export PAGERDUTY_TOKEN={{ onepasswordRead "op://Work/PagerDuty automation API token/credential" }}
export PAGERDUTY_USER_TOKEN={{ onepasswordRead "op://Work/PagerDuty automation API token/credential" }}
export GITHUB_TOKEN={{ onepasswordRead "op://Work/GitHub PAT Local Development ReadOnly/credential" }}

# Faster nvm
export NVM_LAZY_LOAD=true
export NVM_AUTO_USE=true

export PATH="$PATH:/Users/ruka/.local/bin"

# Faster nvm
export NVM_LAZY_LOAD=true
export NVM_AUTO_USE=true

# Fix python forking behaviour for Ansible
# https://github.com/ansible/ansible/issues/49207
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

# cargo does this, for some reason
source "$HOME/.cargo/env"

